/* Override Bootstrap */
.nav-link {
  color: #464648;
}
.btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
i.bi {
  margin-right: 8px;
}
.card {
  border-radius: 15px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-footer {
  text-align: center;
  border: none;
  padding: 1rem;
  background: #fff;
}
.table > :not(:first-child) {
  border-top: 1px solid #c9c9c9;
}

.bg-primary {
  background-color: #d4db47 !important;
}
.btn-primary {
  background-color: #d4db47;
  border-color: #d4db47;
  color: #464648;
  box-shadow: none;
}
.btn-primary:hover {
  border-color: #a39a58;
  background-color: #a39a58;
  color: #fff;
}
.btn-outline-primary {
  border-color: #d4db47;
  color: #464648;
  box-shadow: none;
}
.btn-outline-primary:hover {
  border-color: #d4db47;
  background-color: #d4db47;
  color: #464648;
}

/* Override default style */
body:before {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 0px;
  border-top: 5px solid #464648;
  border-bottom: 5px solid #d4db47;
}
h1 {
  font-size: 34px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  font-weight: 300;
}
h2 {
  font-size: 20px;
  color: #a39a58;
}
a,
a:hover {
  color: #464648;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
hr {
  border-top: 1px dashed #707070;
  background: none;
}

/* Custom styles */
.text-highlight {
  color: #a39a58;
}
.text-small {
  font-size: 12px;
}
ul.bullet {
  list-style: none;
  padding-left: 1rem;
}
ul.bullet li::before {
  content: "\2022";
  color: #d4db47;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

ul.list {
  list-style: none;
  padding-left: 0;
}
ul.list li {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
ul.list li + li {
  border-top: 1px dashed #dcdcdc;
  padding-top: 15px;
}
ul.list li:last-child {
  padding-bottom: 0;
}
ul.list li a + a {
  margin-left: 15px;
}

footer {
  padding-bottom: 15px;
}

#header {
  position: relative;
  display: flex;
  padding: 30px 15px 0 0;
}
#header a.btn {
  background-color: #fff;
  border-radius: 15px;
}
#header a.btn + a.btn {
  margin-left: 15px;
}
#header a.btn:hover {
  background-color: #d4db47;
  color: #464648;
}

/* #sidebar-wrapper{display:flex; width:240px;} */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  width: 240px;
  padding: 30px 15px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#sidebar .logo {
  margin-bottom: 15px;
  text-align: center;
}
#sidebar .nav-item .nav-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  text-align: left;
}
#sidebar .nav-item .nav-link:hover {
  color: #464648;
}
#sidebar .nav-item .nav-link.active {
  color: #464648;
}
#sidebar .nav-item .nav-link.active,
#sidebar .nav-item .nav-link:hover {
  position: relative;
  background: #d4db47;
  border-radius: 5px;
  overflow: hidden;
}
#sidebar .nav-item .nav-link.active:before,
#sidebar .nav-item .nav-link:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  background: #464648;
  width: 5px;
}
#sidebar .nav-item .nav-link i {
  height: 30px;
  line-height: 30px;
  min-width: 30px;
  text-align: center;
  border-radius: 5px;
}

#sidebar a.btn-sidebar {
  position: absolute;
  top: 70px;
  right: -17px;
  z-index: 99;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  cursor: pointer;
}
#sidebar a.btn-sidebar i {
  margin: 0;
  min-width: 35px;
  line-height: 35px;
  height: 35px;
  padding: 5px 9px;
}

.account-summary td {
  border: none;
}
.account-summary td + td {
  text-align: right;
}
.account-summary .table {
  margin-bottom: 0;
}

.upcoming-event .event-item {
  padding: 15px;
}
.upcoming-event .event-item:nth-child(even) {
  background: #f9fae1;
}
.upcoming-event .description {
  font-size: 12px;
}

.international-student .card-body {
  text-align: center;
}
.international-student .card-body + .card-body {
  border-top: 1px dashed #dcdcdc;
}
.international-student .card-body a {
  margin-top: 15px;
}

.card-link a {
  display: block;
  padding: 15px;
  text-align: center;
}
.card-link a:hover {
  background-color: #d4db47;
}
.card-link a + a {
  border-top: 1px dashed #dcdcdc;
}

#academic-profile-result tr {
  border: none;
}
#academic-profile-result td + td {
  text-align: right;
  padding: 5px 0;
}
